.event-card {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  height: 300px;
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.image_container img {
  width: 100%;
  height: auto;
}


.title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.info h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  color: #000000;
}
