.Rainbow>.pinkFill {
    position: absolute;
    left: 0%;
    right: 69.6%;
    top: 0%;
    bottom: 0%;

    background: #FC3B7D;
}

.Rainbow>.greenFill {
    position: absolute;
    left: 30.13%;
    right: 43.83%;
    top: 0%;
    bottom: 0%;

    background: #3ADF9C;
}

.Rainbow>.cyanFill {
    position: absolute;
    left: 44.53%;
    right: 32%;
    top: 0%;
    bottom: 0%;

    background: #2CB3D7;
}

.Rainbow>.purpleFill {
    position: absolute;
    left: 66.93%;
    right: 11.2%;
    top: 0%;
    bottom: 0%;

    background: #684AFA;
}

.Rainbow>.orangeFill {
    position: absolute;
    left: 87.2%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FDA44E;
}

.Rainbow {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 92%;
    bottom: 0%;
}